/** @format */

body {
	font-family: Segoe UI Variable Text, 'Segoe UI', system-ui, -apple-system, BlinkMacSystemFont, Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif;
	overflow-x: hidden;
}

.text-lg, .text-xl, .text-2xl, .text-3xl, .text-4xl, .text-5xl, .text-6xl {
	font-family: Segoe UI Variable Display, 'Segoe UI', system-ui, -apple-system, BlinkMacSystemFont, Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif;
}

/* Animations for scroll */
.reveal-on-scroll {
	opacity: 0;
	transform: translateY(30px);
	transition: opacity 0.4s ease-out, transform 0.4s ease-out;
}

.reveal-on-scroll.is-visible {
	opacity: 1;
	transform: translateY(0);
}

.button-hover-effect:hover {
	/* transform: translateY(-2px); */
	transform: scaleX(1.03);
	box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
	transition: transform 0.2s, box-shadow 0.2s;
	background-color: #4c5563;
	color: white;
}

/* Ensure no horizontal overflow */
* {
	box-sizing: border-box;
}
